/** ********** Import Colors ********** **/
@import "./colors.css";

/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/** ********** Main Window ********** **/
window {
	background-color: @background;
}

/** ********** Buttons ********** **/
button {
	background-color: @background-alt1;
    color: @foreground;
	border: 1px solid @background-alt2;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;

    /* jet */
    margin-top: 175px;
    margin-bottom: 175px;
}

button:focus, button:active, button:hover {
	background-color: @magenta;
	color: @background;
	outline-style: none;
}

/** ********** Icons ********** **/
#lock {
    background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
