/* General Settings */
* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", "Roboto Condensed", sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0px;
}

/* Bar Properties */
window#waybar {
    background: rgba(0,0,0,0);
    background-color: transparent;
    border-bottom: 0;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Bar Properties when Hidden */
window#waybar.hidden {
  opacity: 0.0;
}

/* Icon Section */
#backlight,
#battery,
#clock,
#clock.3,
#custom-weather,
#custom-expressvpn,
#network,
#pulseaudio {
    background-color: #343A40;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 0px 0px 5px;    /* controls rounded corners */
    margin: 4px 0px 0px 0px;           /* space between element boundary and waybar boundary */
    padding: 4px 7px 4px 6px;          /* space between text and element boundary */
}

/* Data Section */
#backlight.2,
#battery.2,
#clock.2,
#clock.4,
#custom-weather.2,
#custom-expressvpn.2,
#network.2,
#pulseaudio.2 {
    background-color: #3E444A;
    color: #F1FCF9;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
    margin: 4px 6px 0px 0px;
    padding: 4px 6px 4px 6px;
}

/* PulseAudio - Overrides */
#pulseaudio {
    font-size: 15px;
    padding: 2px 13px 4px 8px;
}

#pulseaudio.2 {
    padding: 4px 10px 4px 7px;
}

/* Network - Overrides */
#network {
    padding: 4px 14px 4px 7px;
}

#network.2 {
    padding: 4px 9px 4px 8px;
}

/* Battery - Overrides */
#battery {
    font-size: 17px;
    padding: 4px 8px 5px 6px;
}

/* Clock - Overrides */
#clock {
    /* padding: 4px 12px 4px 6px; */
    font-size: 15px;
    padding: 3px 13px 4px 8px;
}

#clock.2 {
    padding: 4px 8px 4px 6px;
}

#clock.3 {
    font-size: 16px;
    padding: 4px 12px 4px 7px;
    margin: 4px 0px 0px 6px;
}

#clock.4 {
    padding: 4px 8px 4px 6px;
}

/* ExpressVPN */
#custom-expressvpn {
    font-size: 15px;
    padding: 4px 11px 5px 7px;          /* space between text and element boundary */
}

#custom-expressvpn.2 {
    padding: 4px 10px 4px 7px;
}

/* Weather - Overrides */
#custom-weather {
    font-size: 18px;
    padding: 2px 14px 4px 6px;
}

/* Battery - Low Warning */
@keyframes blink {
    to {
        color: #3E444A;
    }
}

#battery.critical:not(.charging) {
	background-color: #3E444A;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Idle Inhibitor */
#idle_inhibitor {
    background-color: #3E444A;
    font-size: 17px;
    margin: 4px 6px 0px 0px;   /* space between element border and waybar border */
    padding: 4px 14px 4px 8px;  /* space between text and element border */
    border-radius: 5px;
}

/* System Tray */
#tray {
    background-color: #3E444A;
    margin: 4px 6px 0px 0px;
    padding: 4px 7px 4px 6px;
    border-radius: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray > .active {
}

/* Workspaces */
#workspaces {
    background-color: transparent;
    border-radius: 5px;
    margin: 4px 0px 0px 0px;
    padding: 0px 5px;
}

#workspaces button {
    background-color: #343A40;
    margin-right: 2px; /* space between workspace buttons */
    border-radius: 5px;
}

#workspaces button.active {
    background-color: #343A40;
    color: #64B2F1;
    font-weight: bold;
}
